* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html,
body {
    height: 100%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    max-width: 100%;

}

/* ESTILIZANDO O TOPO COM A LOGO */
.topo {
    padding-left: 10%;
    width: 100%;
    height: 100px;
    padding-top: 1%;
    margin-bottom: 2%;
    font-size: 23px;
    display: flex;
    flex-direction: row;
}

.topo h1 {
    font-size: 40px;
    margin-top: 2%;
    margin-left: 2%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #0063CF;
}

.topo #logotop {
    width: 80px;
    height: 80px;

    border-radius: 35px;
    margin-top: 1%;
}

.topo #logotop img {
    width: 80px;
    height: 80px;
}

/*FINAL DA ESTILIZAÇÃO DA LOGO*/

/*COMEÇO DO MENU SUPERIOR*/
.menuSup {
    padding-left: 8%;
}

.menuSup ul {
    display: flex;
    flex-direction: row;
}

.menuSup ul li {
    margin-left: 2%;
    list-style: none;
}

.menuSup ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    color: #0063CF;
    font-weight: 400;
}

.menuSup ul li a:hover {
    border-bottom: solid 2px blue;
    padding-bottom: 5px;
}

/*FINAL DO MENU SUPERIOR*/

/*COMEÇO DA LANDING*/
.landing {
    width: 100%;
    height: 350px;
    margin-top: 5%;
    background-image: url(imagens/resolva_para_sua_loja.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .landing .bolas ul{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 460px;
        left: 45%;
        max-width: 800px;
        width: 90%;
        float: right;
    }
    .landing .bolas ul li{
        width: 25px;
        height: 25px;
        border-radius: 10px;
        background-color: rgb(216, 216, 216);
        margin: 2% 4%;
        list-style: none;
        cursor: pointer;
    }
    .bolas{
        width: 100%;
    }
    .bolas ul li:hover{
        background-color: rgb(55, 16, 230);
    } */

/* .seta img{
        width: 50px;
        height: 50px;
        position: relative;
        float: right;
        right: 15%;
        top: 100px;
        cursor: pointer;
    } */


/*FINAL DA LANDING*/

/*COMEÇO DA ESTILIZAÇÃO DAS COLUNAS*/
.corpo {
    text-align: center;
}

.corpo h1 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 5%;
    color: #0063CF;

}

.colunas {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    text-align: center;
    height: 350px;
}

.colunas .c1,
.c2,
.c3 {
    margin: 0 5px;
}

.colunas h2 {
    margin-bottom: 20px;
    color: #0063CF;
}

.colunas img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

/*AQUI FINALIZA A ESTILIZAÇÃO DAS COLUNAS*/

/* AQUI COMEÇA ESTILIZAR A HISTORY*/
.history {
    width: 100%;
    height: 500px;
    display: inline-block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.history #col1 {
    width: 35%;
    height: 160px;
    margin-left: 5%;
    background-image: url(imagens/cartao.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 0 50px 0 50px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.history #col2 {
    width: 35%;
    height: 160px;
    margin-left: 5%;
    background-image: url(imagens/banner_trabalhe.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 0 50px 0 50px;

}

.history .video-historia {
    width: 40%;
    height: 300px;
    background-color: grey;
    position: relative;
    float: right;
    top: -60%;
    right: 9%;
    border-radius: 3%;
    box-shadow: 3px 5px 6px 3px black;
}

.history h3 {
    position: absolute;
    margin-left: 65%;
    margin-top: 25px;
    color: #0063CF;
}

/*AQUI FINALIZOU A ESTILIZAÇÃO DO HISTORY*/

.receitas {
    width: 100%;
    height: 700px;
}

.receitas h1 {
    color: #0063CF;
    text-align: center;
    margin-top: 35px;
}

.receitas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10%;
}

.receitas li {
    width: 50%;
    height: 260px;
    margin: 2% 2%;
    list-style: none;
}

.receitas a {
    text-decoration: none;
}

.receitas a img {
    width: 100%;
    height: 130px;
}

.receitas ul li h3 {
    margin-top: 5px;
    text-align: center;
    color: #0063CF;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.receitas ul li input[type=button] {
    margin-top: 30px;
    width: 40%;
    height: 40px;
    background-color: #0063CF;
    color: white;
    cursor: pointer;
}

.quadrosreceitas {
    width: 80%;
}

/*Aqui finaliza a estilização das receitas*/
.redes {
    width: 80%;
    height: 600px;
    border: solid 1px black;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}
.redessociais{
    width: calc(100%/3);
    margin-right: 5%;
    border: solid 1px red;
}
.menuinf{
    margin-right: 5%;
    width: calc(100%/3);
}
.aplicativos{
    width: calc(100%/3);
}